:root {
  --primary-color: #8971b8;
  --dusty-purple: #9597c4;
  --secondery-color: #f5f2fe;
  --shadow: rgba(0, 0, 0, 0.2) 1px 3px 8px;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  padding-bottom: 10px;
}
.image {
  max-width: 100%;
  height: auto;
}
.navbar {
  background-color: var(--dusty-purple);
}

/* .add-cart {
  position: absolute;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

image:hover .cart1,
image:hover .cart2,
image:hover .cart3 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
} */

.hating-game-wraper,
.coffee-gets-cold-wraper {
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.main-page-intro {
  margin: 0 auto;
  color: var(--primary-color);
  text-align: center;
  margin: 40px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
.navbar-brand img {
  max-width: 55px;
  height: auto;
  border-radius: 7px;
}

.categories p {
  font-size: 25px;
  padding: 200px;
  background-color: var(--dusty-purple);
  border-radius: 4px;
  opacity: 0.4;
}
.categories-title {
  font-size: 70px;
  font-weight: 500;
  margin-top: 45px;
  color: var(--primary-color);
}
