.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  padding-bottom: 10px;
}
.image {
  max-width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  margin: 30px;
  color: blueviolet;
}
/* .add-cart {
  position: absolute;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

image:hover .cart1,
image:hover .cart2,
image:hover .cart3 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
} */

.hating-game-wraper {
  max-width: 80%;
}
